/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    background: #232B33;
    color: #dfdfdf;
    
}

.horizontal ul li a {
    text-decoration: none;
    color: white ;
}

.horizontal ul li > a:hover{
    color: #E14591;
}

header {
    background:#232B33;
}

.logo {
    background-image: url(/static/img/logo-white.png);

}

/* Darken is used to provide a bit more darkness on the hero. Otherwise the text is hard to read */
.darken {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column nowrap;
            flex-flow:column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero {
   /* background-image: url(../img/dark-hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white; */
    background: radial-gradient(circle at center, rgba(5, 10, 25, 1) 50%, black 100%);
}

.rows, .cards, footer {
    background: #232B33;
}

.show {
  background: #232B33;
}

.show a {
  color: #dfdfdf;
}

@keyframes stars {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      
      transform:rotate(360deg);
      
      
    }
  }
  

  .stars {
    background: rgba(0, 0, 50, 0) center / 200px 200px round; 
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;  
    
    height: 100%;
  }
  
  .static-star {
    background: rgba(0, 0, 50, 0) center / 200px 200px round; 
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto; 
    height: 100%;
  }
  
  .stars1 {
    animation: stars 220s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 25px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  
  .stars2 {
    animation: stars 290s ease-in-out infinite;  
    background-image:
      radial-gradient(
        1px 1px at 75px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  
  .stars3 {
    animation: stars 360s ease-in-out infinite;  
    background-image:
      radial-gradient(
        1px 1px at 10px 10px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 150px 150px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 60px 170px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 175px 180px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 195px 95px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 95px 145px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  
  .stars4 {
      
  background-image:
      radial-gradient(
        1px 1px at 25px 5px, 
        
  white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        
  white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        
  white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        
  white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        
  white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        
  white, 
        rgba(255, 255, 255, 0)
      );
  }


#one {
    background: #1E1E1E;
    
}


#two {
    background: rgb(158, 79, 118, 1);
    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 1;
}

#two h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 1.5em; 
}

#two button {
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: .5em 1em;

}

#two button:hover {
    background: rgb(255, 119, 187);
    
    cursor: pointer;
    border: 1px solid rgb(225, 69, 145, 0.85);
    -webkit-box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
            box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
}

.one-third-img {
    background: rgba(255,255,255,  0.09);
}

.social a {
    color: #dfdfdf;
}

.social i {
    font-size: 2em;
}

.social i:hover {
    color: #E14591;
}

.white {
  color: #dfdfdf;
}

#app .block-component .hbui-input .input-label {
  color: white important;
}

#app .dropdown-label {
  color: white important;
}

footer {
    border-top: 3px solid rgb(225, 69, 145, 0.85) !important;
}

.copy p a {
  color: #dfdfdf; 
}
