html {
    background: white;
}

header {
    background: #f5f5f5;
}

.horizontal ul li a {
    text-decoration: none;
    color: black;
}

.horizontal ul li > a:hover{
    color: #E14591;
}

.logo{
    background-image: url(/static/img/logo-black.png);
}

.sticky {
    background: rgba(255,255,255, 0.95);
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.hero {
    background-image: url(/static/img/banner-edited.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.rows {
    border-top: 1px solid #e3e3e3b4;
}

.hbui-label .dropdown-label{
    color: #000 !important;
}

.card {
    background: none;
    border: none;
}

.cards {
    background: #f5f5f5;
    -webkit-box-shadow: 0px 1px 16px -7px rgb(0 0 0 / 51%);
            box-shadow: 0px 1px 16px -7px rgb(0 0 0 / 51%);
}

.one-third-img {
    background: #EEE;
    box-shadow: 0px 1px 16px -7px rgb(0 0 0 / 51%);
}

#two {
    background: #f5f5f5;
    z-index: 5;

}

#two h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 1.5em; 
}

#two button {
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: .5em 1em;

}

#two button:hover {
    background: black; 
    color: white;
    cursor: pointer;
}

.content .circle-img {
    -webkit-box-shadow: 1px 11px 16px -5px rgb(0 0 0 / 51%);
            box-shadow: 1px 11px 16px -5px rgb(0 0 0 / 51%);
}

.social a {
    color: black;
}

.social a:hover {
    color:#E14591;
}

.social i {
    font-size: 2em;
}




footer {
    -webkit-box-shadow: 10px -1px 16px -7px rgb(0 0 0 / 51%);
            box-shadow: 10px -1px 16px -7px rgb(0 0 0 / 51%);
}



@media screen and (max-width: 1275px) {
    .hero {
        background-size: 175%;
        background-position: left;
    }
}

@media screen and (max-width: 560px){
    aside {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    aside ul li {
        border-bottom: 1px solid #121212;
    }
    aside ul li a {
        color: #121212;
    }
}