{% block footer %}
    <article class="copy">
    <p >&copy; 2022 Jordan Mulhall</p>
    <p><a href='tel:1253-353-2453'>(253)353-2453</a></p>
    <p><a href="mailto:jtmulh@gmail.com">jtmulh@gmail.com</a></p>
      </article>
    <article class="social"><p >Find me on:</p>
      <hr>
      <div class="row">
      <a href="https://www.instagram.com/_jmulhall/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/jordan.mulhall.79" target="_blank"><i class="fa fa-facebook"></i></a>
    
  </article>
  {% endblock footer %}